{% extends "base.html" %}

{% block menu %}
    <li><a href="{% url 'task-add' %}">Add a task</a></li>
{% endblock menu %}

{% block title %}Home{% endblock title %}

{% block page_header %}All tasks{% endblock page_header %}

{% block content %}
<div class="container">
    <a href="{% url "task-add" %} ">Добавить задачу</a>
    <h1>To-Do List</h1>
    {% if not tasks %}
        <h2>НЕТ ЗАДАЧ</h2>
    {% endif %}
    {% for task in tasks %}
        <p><a href="{% url "task-view" task.id %}"
        >{{ task.title }}</a></p>
    {% endfor %}
</div>
{% endblock content %}
