<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <style>
        body {
            background-color: #9999ff;
        }
        div {
            background-color: #ccccff;
            width: 20%;
            padding-left: 70px;
            padding-bottom: 50px;
            padding-top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div>
    <h1>Create Article</h1>
    <form action="/tasks/add/" method="post">
    {% csrf_token %}
    <label>Title:</label><br/>
    <input type="text" name="title"/><br/>
    <select name="status">
        {% for value, name in status_choices %}
            <option value="{{ value }}">{{ name }}</option>
        {% endfor %}
    </select><br/>
    <label>Until:</label><br/>
    <input type="text" name="up_to"/><br/>
    <label for="description">Description:</label>
    <textarea id="description" name="description">
    </textarea>
    <input type="submit" value="Create"/>
</form>
</div>
</body>
</html>