<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background-color: #9999ff;
        }
        div {
            background-color: #ccccff;
            width: 20%;
            padding-left: 70px;
            padding-bottom: 50px;
            padding-top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div>
        <a href="/">view task list</a>
        <br>
        <br>
        <h1>Task: {{ task.id }}</h1>
        <p>Title: {{ task.title }}</p>
        <p>Status: {{ task.get_status_display }}</p>
        <p>Date: {{ task.up_to }}</p>
        <a href="/delete_task?id={{ task.id }}">Delete the task</a>
    </div>
</body>
</html>