{% extends "base.html" %}

{% block menu %}
    <li><a href="{% url "task-add" %}">Add a task</a></li>
    <li><a href="{% url "task-update" task.id %}">Update the task</a></li>
    <li><a href="{% url "task-delete" task.id %}">Delete the task</a></li>
{% endblock menu %}

{% block page_header %}Task {{ task.id }}{% endblock page_header %}

{% block content %}
<div>
    <a href="{% url "task-list" %}">view task list</a>
    <br>
    <br>
    <h1>Task: {{ task.id }}</h1>
    <p>Title: {{ task.title }}</p>
    <p>Status: {{ task.get_status_display }}</p>
    <p>Date: {{ task.up_to }}</p>
    <p class="whitespace">Description: {{ task.description }}</p>
</div>
{% endblock content %}
